<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style1.css">

</head>
<body>
    <h1>Home</h1>
    <!-- <p>Hello <%= locals.nambo %></p> -->
        <!-- <p>Hello <%= locals.name %></p> -->
        <p>Hello <%= name %></p>



</body>
</html>